body {
    font-family: "Beatrice Deck", sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Navbar Styling */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: white; /* Ensure background is set */
  }

  #nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
  }
  #nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  #nav-links a:hover {
    cursor: pointer;
  }

  #nav-links p {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  #nav-links p:hover {
    cursor: pointer;
  }

  #logo {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .cart-btn-div {
    display: flex;
    align-items: center;
  }

  #cart-btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 15px;
    text-align: center;
    border: none;
  }

  .login {
    display: flex;
    align-items: center;
  }

  .log-btn {
    background-color: black;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
  }

  .conatiner{
    padding-top: 60px;
    display: flex;
    gap: 100px;
    font-family: "Roboto", serif;
   
  }
  .heading{
    font-family: "Roboto", serif;
  }
  .img-boy{
    display: flex;
    gap:90px
  }
  .boy{
    height:350px;
    width: 300px;
  }


  .heading h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}
.heading p{
    font-size: 25px;
}



/*conaitner2*/


  .new-products-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 25px;

}


.heading2{
    margin-top: 150px;
}
.heading2 h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}

.product-card {
    width: calc(25% - 20px);
    max-width: 300px; 
    text-align: center;
    
}


.img-new-col {
    width: 270px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
  
}

.img-new-col:hover {
    transform: scale(1.1);
}


.product-name{
    float: left;
    font-weight: 600;
}
.price{
    float: right;
    font-weight: 600;
}




/*conaitner3*/
.heading3{
    margin-top: 100px;
}

.heading3 h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}


/*conaitner4*/
.heading4{
    margin-top: 100px;
}

.heading4 h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}




/* product viw*/
.info-cont {
    border: 0.5px solid gray; 
    padding: 15px; 
    display: flex; 
    flex-direction: column; 
    margin-left: 150px;
    height: 380px;
}

.prod-view-img{
    width: 350px;
    height: 100%;
}
.add-to-cart{
    width: 100%;
    border: none;
    background-color: #D9D9D9;
    height: 40px;
    font-weight: bold;
}




.trr{
    color: black;
    font-size: 100px;
}





